* {
	font-family: 'Catamaran', sans-serif !important;
}

#container-full {
	padding-top: 20px;
}

#codeArea {
	width: 100%;
	height: 200px;
	resize: none;
}

.tracingInputs {
	width: 100%;
	height: 80px;
}

.alumniClass {
	margin-top: 65px;
}

.alumniClass > button {
	margin-top: 15px;
	height: 50px;
	width: 150px;
}

.alumniClassDetails {
	background-color: #33597f;
	padding-bottom: 5px;
	width: 550px;
	height: initial;
	padding: 20px;
	margin-top: 8px;
	border-radius: 15px;
}

.alumniDetailsClass {
	background-color: #33597f;
	padding-bottom: 15px;
	width: 550px;
	height: initial;
	padding: 30px;
	margin-top: 25px;
	border-radius: 15px;
}

.alumniDetailsClass > ul {
	margin-top: 10px;
	list-style-type: none;
	padding: 0px;
}

.alumniDetailsClass > button {
	height: 70px;
	width: 150px;
}


.goBack {
	display: flex;
	float: right;
}

.groupPromos {
	position: fixed;
	margin-bottom: 10px;
}

.createAlumni {
	background-color: #33597f;
	padding-bottom: 15px;
	width: 550px;
	height: initial;
	padding: 30px;
	margin-top: 25px;
	border-radius: 15px;
}

//----------
.content {
	position: relative;
	z-index: 1;
}

.content:after {
	content: '';
	clear: both;
	display: block;
}

.wrapper {
	position: absolute;
	height: 100%;
}

.wrapper > div {
	height: 100%;
	overflow-y: scroll;
}

.rightSide {
	overflow: auto;
	float: right;
	padding-top: 20px;
	padding-bottom: 30px;
}

.leftSide {
	float: left;
	margin-left: 5px;
}

.alumniDetailsClass > input[type=text], p>input[type=text] {
	text-align: center;
    height: 25px;
    width: auto;
    color: #fff;
    background-color: #f4f2f2;
    padding: 0px;
    margin-bottom: 3px;
    border-style: solid;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid black;
}

.modalClass{
	height: 250px;
    width: 400px;
    background-color: #1767b7;
    border-radius: 20px;
    float: none;
    position: absolute;
    right: 30%;
    top: 30%;
}

.modalClass > .modal-body > a{
	top:50%;
	right: 50px;
}