<div ng-class="{'alumniDetailsClass': !info.caution, 'alumniDetailsClassDanger': info.caution}">
	<small> 🆔 => {{info.id}}</small>
	<a class="btn btn-primary goBack" href="#/" value="Modify">Go Back</a>
	<a class="btn btn-primary goBack" ng-click="setAsCaution(!info.caution, info)">Caution 🆘</a>
	<span>
		<h3>Name: </h3>
		<input type="text" ng-model="info.name" ng-value="info.name"></input> 
	</span> 
	<span>
		<h3>Promo: </h3>
		<input type="text" ng-model="info.promo" ng-value="info.promo"></input>
	</span>

	<p>Telf
		<input type="text" ng-value="info.telf" ng-model="info.telf"></input>
	</p>
	<p>Programming experience
		<input type="text" ng-value="info.experienceProgramming" ng-model="info.experienceProgramming"></input>
	</p>
	<p>Last Work
		<input type="text" ng-value="info.lastWork" ng-model="info.lastWork"></input>
	</p>
	<p>CodeAcademy ✅
		<input type="text" ng-value="info.codeAcademy" ng-model="info.codeAcamedy"></input>
	</p>
	<p>CoderByte ✅
		<input type="text" ng-value="info.coderByte" ng-model="info.coderByte"> </input>
	</p>
	<p>Beatles ✅
		<input type="text" ng-value="info.beatles" ng-model="info.beatles"> </input>
	</p>
	<p>Tracing </p>
	<input class="tracingInputs" name="" id="" ng-model="info.comment" ng-value="info.comment"></input>
	<ul ng-repeat="key in info.comments">
		<li> -> {{key.comment}} - {{key.day | date:'HH:mm / dd-MM-yyyy '}}</li>
	</ul>
	<button class="btn-success" ng-click="updateAlumn(info)">Update</button>

	<div id="myModal" class="modal fade container" tabindex="-1" role="dialog" aria- labelledby="myModalLabel" aria-hidden="true">
		<div class="modalClass">
			<div class="modal-body">
				<h3>👍🏼 Student Modified</h3>
				<a class="btn btn-primary goBack" data-dismiss="modal" href="#/" value="Go Back">Go Back</a>
			</div>
		</div>
	</div>
</div>
